# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Secrets
jwt_private.pem
*.pem

# =========================
# Virtual environments
# =========================
venv/
env/
myenv/

# =========================
# Flask / environment
# =========================
instance/
.env
.env.server

# =========================
# Build / work folders
# =========================
build/
construction/

# =========================
# Database / local data
# =========================
*.sqlite
*.db

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / editor
# =========================
.vscode/
.idea/
